body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #232f3e;
    color: white;
    padding: 40px;
    text-align: center;
}

nav {
    background-color: #ff9900;
    padding: 10px;
    text-align: center;
}

nav a {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 30px;
    background: white;
    margin: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #232f3e;
    color: white;
}
